@page
@model UniBazaarLite.Pages.Events.IndexModel
@{
    ViewData["Title"] = "Upcoming Events";
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />


<h2>@ViewData["Title"]</h2>

<p>
    <a class="create-button" asp-page="Create">+ Create New Event</a>
</p>

@if (!Model.Events.Any())
{
    <p class="no-events">No events found.</p>
}
else
{
    <ul class="event-list">
        @foreach (var evt in Model.Events)
        {
            <li class="event-card">
                <strong>@evt.Title</strong>
                <div class="date">@evt.Date.ToShortDateString()</div>
                <div class="description">@evt.Description</div>
                <a asp-page="Register" asp-route-id="@evt.Id">Register</a>
                <a asp-page="Edit" asp-route-id="@evt.Id">Edit</a>
            </li>
        }
    </ul>
}
